{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container content">

        <div class="row">
           <h2 style="margin-left: 20px; color: #a41515; font-size: 40px">{{ request.user.username }}, {{ age }}</h2>
        <span class="text-muted">{{ request.user.get_online_info }}</span>
            {% if is_online %}
            <div class="online">Online</div>
                {% else %}
                <div class="offline">Offline</div>
            {% endif %}
        </div>
        <div class="row" style="margin-left: 20px;">
            <div class="col-5">
                {% with user_image=selected_user.profile.avatar %}
                    {% if user_image %}
                        <img src="/meeting/arseny/website/media/{{ user_image }}" class="avatar-img img-thumbnail">
                    {% else %}
                        <img src="{% static 'meeting/images/user_logo.png' %}" class="avatar-img img-thumbnail">
                    {% endif %}
                {% endwith %}
                <br>
                <br>
                {% if request.user.id == user.id %}
                    <a href="{% url 'edit_profile' %}" class="btn btn-sm btn-info">Edit profile</a>
                {% endif %}
            </div>
            <div class="col">
                <dl class="row">
                    <dt class="col-sm-3 text-right">Full Name</dt>
                    <dd class="col-sm-9">{{ selected_user.profile.first_name }} {{ selected_user.profile.last_name }}</dd>


                    <dt class="col-sm-3 text-right">City</dt>
                    <dd class="col-sm-9">{{ selected_user.profile.city }}</dd>

                    <dt class="col-sm-3 text-right">Date of Birth</dt>
                    <dd class="col-sm-9">{{ selected_user.profile.birth_date|date:"d M Y" }}</dd>

                    <dt class="col-sm-3 text-right">Gender</dt>
                    <dd class="col-sm-9">{{ selected_user.profile.get_gender_display }}</dd>

                    <dt class="col-sm-3 text-right">Relationship</dt>
                    <dd class="col-sm-9">{{ selected_user.profile.get_relation_display }}</dd>

                    <dt class="col-sm-3 text-right">About Yourself</dt>
                    <dd class="col-sm-9"><em style="font-family: 'Times New Roman', serif;">{{ selected_user.profile.bio|linebreaks }}</em></dd>

                    <dt class="col-sm-3 text-right">Number of likes you have:</dt>
                    <dd class="col-sm-9">{{ user.profile.total_likes }} Like{{ user.profile.total_likes|pluralize }}</dd>
                </dl>
            </div>
        </div>
    </div>
{% endblock %}